.product-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(14px);
  border-radius: 26px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  text-align: center;
  transition: 0.3s ease;
}

.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 18px;
  margin-bottom: 18px;
}

.product-card h3 {
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.product-card p {
  font-size: 1rem;
  margin-bottom: 16px;
}

.product-card a {
  display: inline-block;
  margin-bottom: 12px;
  color: #00e5ff;
  text-decoration: none;
  font-weight: 600;
}

.product-card button {
  width: 100%;
  padding: 12px;
  border-radius: 14px;
  border: none;
  background: linear-gradient(180deg, #33808a, #0a6d78);
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;

}

.product-card button:hover {
  background: linear-gradient(180deg, #1f6f78, #0d6069);
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}
